* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.header {
  background-color: #c3c3c3;
  border: 2px solid #000;
  padding: 1rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
}

.header .logo__content {
  text-align: center;
}

.header .logo__content a > img {
  height: 90px;
  width: auto;
}

.header .box {
  display: block;
  width: 100px;
  margin-left: auto;
  height: 70px;
  background-color: rgba(255, 0, 0, 0.315);
  border: 2px solid #000;
}

.header .title__text {
  font-size: 28px;
}

@media (max-width: 480px) {
  .header .title__text {
    font-size: 15px;
    margin-left: 1rem;
  }
}

.main .navbar {
  margin-top: 6px;
}

.main .navbar__list {
  list-style: none;
  padding: 1rem;
  background-color: #c3c3c3;
  border: 2px solid #000;
}

.main .navbar__list li {
  height: 30px;
}

.main .navbar__list li a {
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #000;
}

.main .navbar__list li a.active {
  color: red;
}

.main .navbar .icon__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 1rem;
}

.main .navbar .icon__content .icon {
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .navbar .icon__content .icon:hover {
  background-color: #000;
}

.main .navbar .icon__content .icon:hover i {
  color: #fff;
}

.main .navbar .icon__content .icon i {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .navbar .icon__content .icon a {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 52px;
  color: #000;
}

.main .blogs__item {
  padding: 2rem 6rem;
}

@media (max-width: 1024px) {
  .main .blogs__item {
    padding: 2rem 3rem;
  }
}

@media (max-width: 480px) {
  .main .blogs__item {
    padding: 2rem 1rem;
  }
}

.main .blogs__item__title h3 {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 1rem;
  font-size: 400;
}

@media (max-width: 480px) {
  .main .blogs__item__title h3 {
    font-size: 20px;
  }
}

.main .blogs__item__description p {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 480px) {
  .main .blogs__item__description p {
    font-size: 17px;
  }
}

.main .blogs__item__description a {
  display: block;
  text-align: right;
  text-decoration: none;
}

@media (max-width: 768px) {
  .main .myself-card {
    margin-bottom: 2rem;
  }
}

.main .myself-card .card {
  padding: 1rem 2rem;
  background-color: #c3c3c3;
  border: 2px solid #000;
  margin-top: 6px;
}

.main .myself-card .card__img {
  text-align: center;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.main .myself-card .card__img img {
  width: 100%;
  height: 150px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .myself-card .card__description p {
  font-size: 16px;
}

.main .myself-card .card__link {
  text-align: right;
}

.main .myself-card .card__link a {
  text-decoration: none;
}

.main .myself-card .tags {
  margin-top: 2rem;
}

.main .myself-card .tags__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 1rem;
}

.main .myself-card .tags__item span {
  display: block;
  margin-right: 1rem;
  -webkit-box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
          box-shadow: 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
  padding: 5px 1rem;
  border-radius: 30px;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.main .myself-card .tags__item span:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.main .myself-card .tags__item span.active {
  -webkit-box-shadow: inset 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
          box-shadow: inset 5px 5px 10px #5a5a5a, -5px -5px 10px #ffffff;
}

.blogs__item {
  padding: 0 10px;
}

.blogs__item__title h3 {
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 1rem;
  font-size: 400;
}

.blogs__item__description p {
  font-size: 20px;
  line-height: 30px;
}

.blogs__item__description a {
  display: block;
  text-align: right;
  text-decoration: none;
}

.blogs .pb-0 {
  padding-bottom: 0;
}

.mail {
  padding: 2rem 2rem;
  background-color: #c3c3c3;
  border: 2px solid #000;
}

.mail__form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.mail__form h3 {
  font-size: 25px;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .mail__form h3 {
    font-size: 18px;
  }
}

.mail__form input {
  width: 100%;
  display: block;
  outline: none;
  padding: 8px;
  font-size: 23px;
  margin-bottom: 1rem;
}

.mail__form button {
  font-size: 23px;
  padding: 8px 20px;
  background-color: rgba(227, 106, 106, 0.497);
  border: 3px solid rgba(240, 4, 4, 0.996);
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  padding: 4rem;
  background-color: #c3c3c3;
  border: 2px solid #000;
  margin-top: 3rem;
}

.footer__title h3 {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .footer__title h3 {
    text-align: left;
  }
}

.footer__description {
  text-align: right;
}

@media (max-width: 480px) {
  .footer__description {
    text-align: left;
    margin-top: 1rem;
  }
}

.footer__description p {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 600;
}

.link {
  margin: 2rem auto;
  text-align: center;
}

.link a {
  display: inline-block;
  padding: 10px 4rem;
  background-color: rgba(230, 198, 40, 0.312);
  border: 3px solid yellow;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 !important;
  }
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 1rem 0;
  padding-top: 7px;
}

.courses__item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  width: 48%;
  padding: 60px 25px 60px 25px;
  -webkit-box-shadow: 0px -6px 48px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -6px 48px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 1rem;
  position: relative;
}

.courses__item .line {
  height: 1.5px;
  background-color: #161c2d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.courses__item__title {
  text-align: center;
}

.courses__item__title h4 {
  color: #161c2d;
  font-family: "Hind", Sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.2em;
  letter-spacing: 0px;
}

.courses__item__title .line__title {
  height: 1px;
  background-color: #2b354f;
  display: inline-block;
  width: 20px;
  margin: 15px 0;
}

.courses__item__description {
  text-align: center;
}

.courses__item__description p {
  color: #869ab8;
  font-family: "Roboto", Sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.7em;
  letter-spacing: 0.3px;
}

@media (max-width: 560px) {
  .courses {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses__item {
    -ms-flex-preferred-size: 95% !important;
        flex-basis: 95% !important;
    width: 95% !important;
  }
}

.courses__item.red .line {
  background-color: red;
}

.courses__item.blue .line {
  background-color: #6685dc;
}

.courses__item.bg-linear {
  background-image: linear-gradient(190deg, #214D67 15%, #669CB7 56%);
}

.courses__item.bg-linear .courses__item__title h4 {
  color: #fff !important;
}

.courses__item.bg-linear .courses__item__title .line__title {
  background-color: #fff;
}

.courses__item.bg-linear .courses__item__description p {
  color: #fff;
}

.courses__item.bg-blue {
  background-color: #669CB7;
}

.courses__item.bg-blue .courses__item__title h4 {
  color: #fff !important;
}

.courses__item.bg-blue .courses__item__title .line__title {
  background-color: #fff;
}

.courses__item.bg-blue .courses__item__description p {
  color: #fff;
}

.books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 1rem 0;
  padding-top: 7px;
}

.books__item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  width: 48%;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 1rem;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.books__item__img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.books__item__description {
  margin: 15px 0;
}

.books__item__description p {
  color: #161c2d;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.books__item__link {
  margin-top: 30px;
}

.books__item__link a {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF5A60;
  border-color: #FFFFFF;
  font-weight: 500;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 0px 0px 0px 0px;
  padding: 10px 20px 10px 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.books__item__link a:hover {
  background-color: #FF5A60BF;
}

@media (max-width: 560px) {
  .books {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .books__item {
    -ms-flex-preferred-size: 95% !important;
        flex-basis: 95% !important;
    width: 95% !important;
  }
}

.aboutme {
  margin-top: 7px;
}

.aboutme__title {
  margin-bottom: 1rem;
}

.aboutme__title h2 {
  font-family: sans-serif;
}

.aboutme .df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .aboutme__title {
    padding-left: 1rem;
  }
  .aboutme .df {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  .aboutme__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .aboutme__description {
    padding: 1rem !important;
  }
  .aboutme .mt {
    margin-top: 0 !important;
    padding: 0 1rem !important;
  }
}

.aboutme__description {
  padding-right: 2rem;
}

.aboutme__description p {
  margin-bottom: 1rem;
}

.aboutme__img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.aboutme .mt {
  margin-top: 1rem;
}
/*# sourceMappingURL=style.css.map */