* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "jost", sans-serif;
    background-color: #f4f6f8;
}

.header {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.logo {
    height: 64px;
    position: relative;
    z-index: 9;
    margin-top: 7px;
}

.logo img {
    height: 80%;
    width: auto;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 64px;
}

.navbar ul li {
    padding: 0 12px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: "jost", sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.navbar ul li a.active {
    color: #fb2b2b;
}

.navbar ul li a:hover {
    color: #fb2b2b;
    transition: all .3s;
}

.main {
    margin-top: calc(64px - 1rem);
    padding: 48px 0;
    background-color: #f4f6f8;
}

.full-img {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    margin: 1rem 0;
}

.full-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.aboutme-card {
    background-color: #fff;
    border-radius: 1rem;
    margin: 1rem 0;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .1);
    padding: 1rem;
    height: 100%;
}

.card-img {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    position: relative;
    text-align: center;
    margin-bottom: 5px;
}

.card-title a {
    margin-top: 1rem;
    padding: .6rem 1rem;
    background-image: linear-gradient(70deg, rgba(255, 0, 0, 0.84), rgba(0, 0, 255, 0.84));
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #c3c3c32d;
}

.card-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icons>a {
    margin-right: 1rem;
    height: 90%;
    width: 50px;
    text-align: center;
    line-height: 52px;
    display: block;
    background-color: red;
    border-radius: 50%;
    background: linear-gradient(130deg, rgb(255, 0, 217), rgba(255, 0, 217, 0.495));
    box-shadow: 50px 50px 100px #bebebe,
        -50px -50px 100px #ffffff;
    color: #fff;
}

.card-icons>a:nth-child(2) {
    background: linear-gradient(30deg, rgb(0, 98, 255), rgba(0, 55, 255, 0.371));
}

.card-icons>a:nth-child(3) {
    background: linear-gradient(30deg, rgb(0, 98, 255), rgba(0, 55, 255, 0.371));
    margin: 0;
}

.card-title,
.post-title {
    padding: 1rem;
}

.card-title p,
.post-title a {
    text-align: left;
    word-wrap: break-word;
    font-size: 24px;
    line-height: 1.5;
    text-decoration: none;
    color: rgba(0, 0, 0, .8);
    font-family: "encode sans semi condensed", sans-serif;
}

.post {
    margin: 1rem 0;
    margin-top: 2rem;
}

.post:hover .post-img {
    transform: scale(.98);
}

.post>a {
    text-decoration: none;
}

.post-img {
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.post .post-title {
    padding: .2rem 1rem;
}

.post-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tags {
    margin-top: 1rem;
    padding-left: 1rem;
    position: relative;
}

.tags::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #d0d0d0;
    border-radius: 50%;
}

.tags>span {
    font-style: 16px;
    color: rgba(0, 0, 0, .65);
}

.date {
    padding-left: 1rem;
    margin-top: 1rem;
}

.date>span {
    color: rgba(0, 0, 0, .65);
    transition: all .3s ease-in-out;
    font-weight: 500;
    cursor: pointer;
}

.date>span:hover {
    color: rgba(0, 0, 0, .9);
}

.footer {
    background-color: #121212;
    padding: 24px 0;
}

.author>h4 {
    color: #fff;
    text-align: left;
}

.footer-links {
    text-align: end;
}

.footer-links>a {
    color: #fff;
    text-decoration: none;
}

.bars-icon {
    width: 30px;
    height: 25px;
    margin-top: calc((64px - 25px) / 2);
    overflow: hidden;
    display: none;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.bars-icon>span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, .6);
    margin-bottom: 6px;
    transition: all .2s ease-in-out;
}

.bars-icon>span:nth-child(2) {
    transform: translateX(-5px);
}

.bars-icon>span:last-child {
    transform-origin: 0% 0;
    transform: translateX(-15px);
}

.bars-icon.active>span:nth-child(2) {
    transform: translateX(-100%);
}

.bars-icon.active>span:last-child {
    transform: translateX(0) translateY(5px) rotateZ(-45deg);
}

.bars-icon.active>span:first-child {
    transform: translateX(-3.5px) translateY(11px) rotateZ(45deg);
}

.detail {
    padding: 24px 0;
}

.detail-text-content {
    margin-bottom: 2rem;
    text-align: left;
}

.detail-text-content a{
    color: rgba(0, 0, 0, 0.45);
    text-decoration: none;
    font-size: 18px;
}

.detail-text-content h2 {
    color: rgba(0, 0, 0, 0.9);
    font-size: 42px;
    font-weight: 500;
    margin: 1rem 0;
}

.detail-img-content {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 1rem;
}

.detail-img-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.detail-description {
    background-color: #fff;
    padding: 48px;
}

.detail-description-text {
    padding: 0 48px;
}

.detail-description-text p {
    font-size: 20px;
    line-height: 32.64px;
    color: rgb(55, 55, 55);
    margin-bottom: 30px;
    text-align: left;
}

.detail-description-text p:last-child {
    margin-bottom: 0;
}

.mail-send-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.mail-send-form h4 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    word-wrap: break-word;
    font-family: "jost", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
}

.mail-send-form > input {
    border: 2px solid #c3c3c3;
    padding: 12px 1rem;
    outline: none;
    width: 100%;
    border-radius: 5px;
}


.mail-send-form > button {
    margin-top: 1rem;
    display: block;
    padding: 12px 1rem;
    border-radius: 2rem;
    outline: none;
    margin-right: auto;
    cursor: pointer;
    background-color: #fb2b2b;
    color: #fff;
    border: 0px;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-top: 2rem;
    padding-left: 1rem;
}

.tag a {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    text-decoration: none;
    border: 1px solid rgb(238, 238, 238);
    font-size: 15px;
    padding: 8px 12px;
    transition: all 3.s ease-in-out;
}

.tag a:hover {
    color: #fb2b2b;
}

.similar-posts {
    padding: 4rem;
    background-color: #fff;
}

.similar-title h2 {
    font-size: 16px;
    color: #000000cc;
}

.comment {
    padding: 3rem 0;
}

.comment-title {
    text-align: left;
}

.comment-title h3 {
    font-size: 16px;
    color: #000000cc;
    margin-bottom: 1rem;
}

.comment-form form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow:column nowrap;
}

.comment-form form textarea,
.comment-form form input {
    width: 100%;
    outline: none;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 4px;
    padding: 12px 1rem;
}

.comment-form form label {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.comment-form form button {
    margin-top: 1rem;
    padding: 12px 24px;
    background-color: rgb(251, 43, 43);
    border-radius: 2rem;
    color: #fff;
    font-size: 14px;
    border: 2px solid rgb(251, 43, 43);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.comment-form form button:hover {
    color: rgb(251, 43, 43);
    background-color: #fff;
}

@media (max-width: 540px) {
    .full-img {
        padding-bottom: 1rem;
    }

    .card-title p,
    .post-title a {
        font-size: 17px;
    }
    .detail {
        padding: 0;
    }
    .detail-text-content h2 {
        font-size: 30px;
    }
    .detail-text-content a{
        font-size: 15px;
    }
    .detail-img-content {
        height: auto;
    }
    .detail-description-text p {
        font-size: 18px;
    }
    .detail-description-text {
        padding: 0 16px;
    }
    
}

@media (max-width: 768px) {
    .full-img {
        height: 100%;
    }

    .header .col-md-3 {
        margin-left: 25%;
    }

    .header .col-md-9 {
        order: -1;
    }

    .navbar ul {
        justify-content: flex-start;
        flex-flow: column nowrap;
        position: fixed;
        left: 0;
        top: 59px;
        width: 100%;
        background-color: #fff;
        z-index: 8;
        padding: 0;
        height: 0px;
        overflow: hidden;
        transition: all .4s ease-in-out;
    }

    .navbar ul.active {
        height: 307px;
        padding: 10px 0;
        padding-top: 15px;
    }

    .navbar ul>li {
        text-align: left;
        width: 100%;
        line-height: 40px;
    }

    .bars-icon {
        display: block;
    }
}

@media (max-width: 1024px) {
    .footer-links {
        padding-right: 1rem;
    }

    .aboutme-card {
        height: auto;
    }

    .card-title p,
    .post-title a {
        font-size: 19px;
        font-weight: 500;
    }
    .detail-description {
        padding: 48px 0;
    }
    .mail-send-form {
        margin-top: 1rem;
        padding: 0 20px;
        text-align: center;
    }
    .mail-send-form > button {
        margin: 0 auto;
        margin-top: 1rem;
    }
    .mail-send-form > input {
        max-width: 350px;
    }
    .similar-posts {
        padding: 4rem 0;
    }
}